# Node / Expo
node_modules/
.expo/
.expo-shared/
.metro-cache/
dist/
web-build/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# React Native (native projects)
android/
ios/
*.iml
.gradle/
local.properties
*.keystore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Env
.env
.env.*
